In [ ]:
import numpy as np
import pandas as pd

In [ ]:
!pip install scikit-network==0.24.0

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting scikit-network==0.24.0
  Downloading scikit_network-0.24.0-cp37-cp37m-manylinux_2_12_x86_64.manylinux2010_x86_64.whl (8.2 MB)
     |████████████████████████████████| 8.2 MB 6.5 MB/s
Requirement already satisfied: numpy>=1.20.2 in /usr/local/lib/python3.7/dist-packages (from scikit-network==0.24.0) (1.21.6)
Requirement already satisfied: scipy>=1.6.2 in /usr/local/lib/python3.7/dist-packages (from scikit-network==0.24.0) (1.7.3)
Installing collected packages: scikit-network
Successfully installed scikit-network-0.24.0

In [ ]:
!rm *.tsv.gz
!wget -q https://datasets.imdbws.com/name.basics.tsv.gz
!wget -q https://datasets.imdbws.com/title.principals.tsv.gz
!wget -q https://datasets.imdbws.com/title.basics.tsv.gz
!wget -q https://datasets.imdbws.com/title.akas.tsv.gz
!ls -la

rm: cannot remove '*.tsv.gz': No such file or directory
total 1077340
drwxr-xr-x 1 root root      4096 Nov 10 04:25 .
drwxr-xr-x 1 root root      4096 Nov 10 04:24 ..
drwxr-xr-x 4 root root      4096 Nov  9 00:02 .config
-rw-r--r-- 1 root root 236124145 Nov  8 13:17 name.basics.tsv.gz
drwxr-xr-x 1 root root      4096 Nov  9 00:03 sample_data
-rw-r--r-- 1 root root 286943106 Nov  8 13:17 title.akas.tsv.gz
-rw-r--r-- 1 root root 163602877 Nov  8 13:17 title.basics.tsv.gz
-rw-r--r-- 1 root root 416493710 Nov  8 13:17 title.principals.tsv.gz

In [ ]:
# load the titles
title = pd.read_csv('title.basics.tsv.gz', sep='\t', low_memory=True).set_index('tconst')[['titleType','primaryTitle','startYear']]

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:3326: DtypeWarning: Columns (4) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [ ]:
title.head()

          titleType            primaryTitle startYear
tconst
tt0000001     short              Carmencita      1894
tt0000002     short  Le clown et ses chiens      1892
tt0000003     short          Pauvre Pierrot      1892
tt0000004     short             Un bon bock      1892
tt0000005     short        Blacksmith Scene      1893

In [ ]:
title.dtypes

titleType       object
primaryTitle    object
startYear       object
dtype: object

In [ ]:
title = title[title['startYear'] > '2017'] # filter by year

In [ ]:
title.head()

          titleType                 primaryTitle startYear
tconst
tt0011801     movie             Tötet nicht mehr      2019
tt0013274     movie  Istoriya grazhdanskoy voyny      2021
tt0015414     movie       La tierra de los toros      2000
tt0021123     movie            The March of Time        \N
tt0034413     short           Youth Gets a Break      2001

In [ ]:
# load the cast of each film
cast  = pd.read_csv('title.principals.tsv.gz', sep = '\t')[['tconst', 'nconst', 'category']]
# only consider actors, not directors, composors etc.
cast = cast[cast.category.isin({'actor','actress'})]
cast.head()

       tconst     nconst category
11  tt0000005  nm0443482    actor
12  tt0000005  nm0653042    actor
16  tt0000007  nm0179163    actor
17  tt0000007  nm0183947    actor
21  tt0000008  nm0653028    actor

In [ ]:
# only consider movies, not series, etc
movies = title[title['titleType'] == 'documentary']
cast = cast[cast['tconst'].isin(movies.index)]
cast.head()

Empty DataFrame
Columns: [tconst, nconst, category]
Index: []

In [ ]:
# region = pd.read_csv('title.akas.tsv.gz',sep='\t',usecols=['titleId','region'],low_memory = True,dtype={'region':'str','titleId':'str'}).set_index('titleId')['region']
# region.value_counts().head(10)

In [ ]:
region = pd.read_csv('title.akas.tsv.gz',sep='\t',usecols=['titleId','region'],low_memory = True,dtype={'region':'str','titleId':'str'}).set_index('titleId')['region']
region.value_counts()

JP    4032515
FR    4031409
DE    4028702
IN    3964239
ES    3953998
       ...
CC          1
TV          1
NU          1
PW          1
NR          1
Name: region, Length: 248, dtype: int64

In [ ]:
region[region=='IN']

titleId
tt0000302    IN
tt0000302    IN
tt0000417    IN
tt0002773    IN
tt0003311    IN
             ..
tt9916844    IN
tt9916846    IN
tt9916848    IN
tt9916850    IN
tt9916852    IN
Name: region, Length: 3964239, dtype: object

In [ ]:
region.head()

titleId
tt0000001    UA
tt0000001    DE
tt0000001    HU
tt0000001    GR
tt0000001    RU
Name: region, dtype: object

In [ ]:
name = pd.read_csv('name.basics.tsv.gz', sep = '\t', low_memory=True, na_values = '\\N', dtype={'birthYear': float}).set_index('nconst')[['primaryName', 'birthYear']]
name.head()

               primaryName  birthYear
nconst
nm0000001     Fred Astaire     1899.0
nm0000002    Lauren Bacall     1924.0
nm0000003  Brigitte Bardot     1934.0
nm0000004     John Belushi     1949.0
nm0000005   Ingmar Bergman     1918.0

In [ ]:
from scipy.sparse import csr_matrix

In [ ]:
def get_pairs(lang='IN', min_acted=1, min_pairings=1):
    '''
    Returns an adjacency matrix and actor mapping of actor pairs where:
    - Each actor has acted in at least min_acted films
    - The two actors have acted together in at least min_pairings films
    - And (optionally), belong to a region `lang` (IN, UN, etc)
    '''
    graph = cast
    if lang is not None:
        graph = graph[graph['tconst'].isin(region[region == lang].index)]
        # graph = graph[graph['tconst'].isin(region[region == lang].index)]
    name_freq = graph['nconst'].value_counts()
    top_names = name_freq[name_freq >= min_acted]
    top_actors = graph[graph['nconst'].isin(top_names.index)]

    p = top_actors.copy()
    p['title'] = p['tconst'].astype('category')
    p['name'] = p['nconst'].astype('category')

    row = p['title'].cat.codes.values
    col = p['name'].cat.codes.values
    data = np.ones(len(p), dtype='int')

    matrix = csr_matrix((data, (row, col)))
    square = matrix.T * matrix
    square.setdiag(0)
    square = square.tocoo()

    pairs = pd.DataFrame({
        'row': square.row,
        'col': square.col,
        'n': square.data
    })
    pairs = pairs[pairs.n >= min_pairings].reset_index(drop=True)
    return pairs, name.reindex(p['name'].cat.categories)

def lookup(pairs, cat):
    pairs = pd.concat([
        pairs,
        cat.iloc[pairs.row].reset_index(drop=True),
        cat.iloc[pairs.col].reset_index(drop=True),
    ], axis=1)
    pairs = pairs.drop(columns=['row', 'col'])
    pairs.columns = ['count', 'name1', 'year1', 'name2', 'year2']
    return pairs.sort_values('count', ascending=False)

In [ ]:
pairs, cat = get_pairs(lang='IN', min_acted=1, min_pairings=1) # setting lang = 'hi' will apply a filter allowing only Indian movies

In [ ]:
ForKumu = lookup(pairs, cat)

In [ ]:
ForKumu = ForKumu[['name1', 'name2', 'count']]
ForKumu = ForKumu.rename(columns={'name1':'From',
                                  'name2':'To',
                                  'count':'Strength'})

In [ ]:
ForKumu.head(10)

                     From                 To  Strength
28036        Brahmanandam       Mohammad Ali        50
40293        Mohammad Ali       Brahmanandam        50
108600       Amit Pachori        Sapna Sappu        38
96427         Sapna Sappu       Amit Pachori        38
139977       Amit Pachori       Anil Nagrath        36
96415        Anil Nagrath       Amit Pachori        36
36883        Brahmanandam  Tanikella Bharani        35
40292   Tanikella Bharani       Brahmanandam        35
108593       Anil Nagrath        Sapna Sappu        31
139976        Sapna Sappu       Anil Nagrath        31

In [ ]:
ForKumu.shape

(509716, 3)

In [ ]:
#ForKumu.to_excel("pairs.xlsx",index=False)